@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
  --primary-color: #164e63;
  --secundary-color: #FFFFFF;
  --terciary-color: #fde047;
  --quaternary-color: #0f172a;
  --background: #f3f4f6;
  --font-primary: 'Roboto', sans-serif;
}