<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Município</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>

    <header id="header">
        <a id="logo" href="../index.html">Candidate Tracker</a>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="../index.html">Início</a></li>
                <li><a href="./searchCandidato.html">Candidato</a></li>
                <li><a href="./searchCargo.html">Cargo</a></li>
                <li><a href=".">Município</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="top">
            <h1>Faça uma pesquisa por município</h1>
            <div class="search">
                <input type="text">
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="eleito"><a href="">ELEITO</a></div>
            </div>

            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
            </div>

            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="eleito"><a href="">ELEITO</a></div>
            </div>

            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
            </div>

            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="eleito"><a href="">ELEITO</a></div>
            </div>

            <div class="card">
                <h3>seu zé</h3>
                <p>partido: psol</p>
                <p>número: 25</p>
                <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
            </div>
        </div>
    </main>
    <script src="../components/menu.js"></script>
</body>

</html>