<link rel="stylesheet" href="../styles/index.css">
<body>
  <main>
    <div class="top">
      <h1>Faça uma pesquisa geral</h1>
      <div class="search">
        <input type="text">
      </div>
    </div>

    <div class="cards">
      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="eleito"><a href="">ELEITO</a></div>
      </div>

      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
      </div>

      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="eleito"><a href="">ELEITO</a></div>
      </div>

      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
      </div>

      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="eleito"><a href="">ELEITO</a></div>
      </div>

      <div class="card">
        <h3>seu zé</h3>
        <p>partido: psol</p>
        <p>número: 25</p>
        <div class="nao-eleito"><a href="">NÃO ELEITO</a></div>
      </div>

      

  </main>

</body>